<div class="navbar navbar-app navbar-absolute-top">
    <div class="btn-group pull-left">
        <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</div>

<div class="scrollable">
    <div class="scrollable-content">
        <br><br>
        <center>
            <div class="list-group-item list-group-item-home" style="background-color: lightslategrey;position: relative;top: 10px">
                <small style="color: white;text-shadow: 4px 4px 4px black;font-weight: bold;font-size: 20px"><i class="fa fa-comments"></i> Student Lounge</small><br><br>
            </div>
        </center>
        <ui-state id='activeTab' default='1'></ui-state>
        <div class="btn-group justified nav-tabs">
            <a ui-set="{'activeTab': 1}" 
               ui-class="{'active': activeTab == 1}" class="btn btn-default">Sign In</a>

            <a ui-set="{'activeTab': 2}" 
               ui-class="{'active': activeTab == 2}" class="btn btn-default">Sign Up</a>
        </div>  
        <div class='section'>
            <div ui-if="activeTab == 1">
                <br><br>
                <center style="color: red">{{ response}}</center>
                <br><br>
                <form role="form">
                    <fieldset>
                        <div class="form-group has-success has-feedback">
                            <label>Email or (Username)</label>
                            <input type="text"
                                   class="form-control" 
                                   ng-model="user.input"
                                   placeholder="eldrich@gmail.com">
                        </div>

                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" 
                                   class="form-control" 
                                   ng-model="user.password"
                                   placeholder="Password">
                        </div>
                    </fieldset>
                    <hr>

                    <button class="btn btn-primary btn-block" ng-click="signIn(user)">
                        <i class="fa fa-sign-in"></i> Go
                    </button>
                </form>
                <br><br><br><br><br><br><br><br>
            </div>

            <div ui-if="activeTab == 2">
                <br><br>
                <form role="form">
                    <fieldset>
                        <div class="form-group has-success has-feedback">
                            <label>Username</label>
                            <input type="text"
                                   class="form-control"
                                   ng-model="user.userName"
                                   placeholder="Username">
                        </div>

                        <div class="form-group has-success has-feedback">
                            <label>Email</label>
                            <input type="email"
                                   class="form-control"
                                   ng-model="user.email"
                                   placeholder="eldrich@gmail.com">
                        </div>

                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" 
                                   class="form-control"
                                   ng-model="user.password"
                                   placeholder="Password">
                        </div>
                    </fieldset>
                    <hr>

                    <button class="btn btn-primary btn-block" ng-click="signUp(user)">
                        <i class="fa fa-sign-in"></i> Go
                    </button>
                </form>
                <br><br><br><br>
            </div>
        </div>
    </div>
</div>
