<div class="scrollable">
    <h1 class="scrollable-header app-name" style="font-size: 25px;font-weight: bold;text-shadow: 4px 4px 4px black">Know and Go</h1>  
    <div class="scrollable-content">
        <div class="list-group" ui-turn-off='uiSidebarLeft'>
            <a class="list-group-item" href="#/" style="font-size: 17px"><b>The Application</b> <i class="fa fa-home pull-right"></i></a>
            <a class="list-group-item" href="#/schools" style="font-size: 17px"><b>Universities and Colleges</b> <i class="fa fa-building pull-right"></i></a>
            <a class="list-group-item" href="#/student_lounge" style="font-size: 17px"><b>Student Lounge</b> <i class="fa fa-comments pull-right"></i></a>
            <a class="list-group-item" href="#/exit" style="font-size: 17px"><b>Exit</b> <i class="fa fa-power-off pull-right"></i></a>
        </div>
    </div>
</div>
