<div class="scrollable">
    <h1 class="scrollable-header app-name" style="font-size: 25px;font-weight: bold;text-shadow: 4px 4px 4px black">Know and Go</h1>  
    <div class="scrollable-content">
        <div class="list-group" ui-turn-off='uiSidebarLeft'>
            <a class="list-group-item" href="#/">
                <span style="font-size: 16px">The Application</span> 
                <i class="fa fa-home pull-right"></i>
            </a>
            <a class="list-group-item" href="#/schools">
                <span style="font-size: 16px">Universities and Colleges</span> 
                <i class="fa fa-building pull-right"></i></a>
            <a class="list-group-item" href="#/student_lounge">
                <span style="font-size: 16px">Student Lounge</span> 
                <i class="fa fa-comments pull-right"></i></a>
            <a class="list-group-item" href="#/exit">
                <span style="font-size: 16px">Exit</span> 
                <i class="fa fa-power-off pull-right"></i>
            </a>
        </div>
    </div>
</div>
